/* AccountPage Styling */
.ap-account-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primarybackground);
    font-family: Arial, sans-serif;
    padding: 40px;
    padding-top: 150px;
  }
  
  .ap-welcome-title {
    color: var(--primarycolor);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ap-info-container {
    background-color: var(--secondarybackground);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ap-user-info {
    font-size: 18px;
    color: var(--darktext);
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
  }
  
  .ap-phone,
  .ap-address {
    font-size: 16px;
    color: var(--darktext);
    margin: 5px 0;
  }
  
  .ap-account-text {
    text-align: left;
    font-size: 16px;
    color: var(--darktext);
    margin-top: 20px;
    width: 100%;
  }
  
  .ap-introduction {
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .ap-cart-info,
  .ap-wishlist-info,
  .ap-rewards-info {
    margin: 10px 0;
  }
  
  .ap-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .ap-actions button {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--primarycolor);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ap-actions button:hover {
    background-color: var(--grey);
  }
  
  .ap-logout-btn1 {
    background-color: red;
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
  }
  
  .ap-logout-btn:hover {
    background-color: var(--darkred);
  }
  
  .ap-login-prompt {
    font-size: 18px;
    color: var(--grey);
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .ap-account-page {
      padding: 20px;
    }
  
    .ap-info-container {
      width: 90%;
      padding: 20px;
    }
  
    .ap-welcome-title {
      font-size: 28px;
    }
  
    .ap-actions button {
      font-size: 14px;
    }
  
    .ap-logout-btn {
      font-size: 18px;
    }

    .ap-actions{
        flex-direction: column;
        gap: 10px;
    }
  }
  