/* AccountPage Styling */
.ap-account-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primarybackground);
    font-family: Arial, sans-serif;
    padding: 40px;
}

.ap-welcome-message {
    color: var(--primarycolor);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.ap-info-container {
    background-color: var(--whitewhite);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ap-user-info {
    font-size: 18px;
    color: var(--grey);
    margin-bottom: 15px;
}

.ap-logout-button {
    background-color: var(--primarycolor);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.ap-logout-button:hover {
    background-color: var(--primarycolor-hover);
}

.ap-error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .ap-account-page {
        padding: 20px;
    }

    .ap-info-container {
        width: 90%;
        padding: 20px;
    }

    .ap-welcome-message {
        font-size: 28px;
    }

    .ap-logout-button {
        font-size: 18px;
    }
}
