.ca-cart {
  padding: 20px;
  background-color: var(--primarybackground);
  color: var(--darktext);
  font-family: "Montserrat", sans-serif;
  padding-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ca-title {
  color: var(--primarycolor);
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.ca-empty-message {
  color: var(--grey);
  text-align: center;
  font-size: 18px;
}

.ca-item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.ca-item {
  border: 1px solid var(--primarycolor);
  border-radius: 10px;
  padding: 15px;
  background-color: var(--secondarybackground);
  text-align: center;
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
  list-style: none;
}

.ca-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.ca-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.ca-item-details {
  margin-top: 10px;
}

.ca-item-name {
  color: var(--purplewhite);
  font-size: 18px;
  margin: 10px 0;
}

.ca-item-price {
  font-size: 16px;
  color: var(--darktext);
}

.ca-remove-btn {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background-color: var(--primarycolor);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.ca-remove-btn:hover {
  opacity: 0.8;
}

.ca-clear-cart-btn {
  margin-top: 20px;
  padding: 12px 30px;
  border: none;
  background-color: var(--navbar1);
  color: var(--primarybackground);
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.ca-clear-cart-btn:hover {
  background-color: var(--purplewhite);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .ca-cart {
    padding: 20px;
  }

  .ca-title {
    font-size: 2rem;
  }

  .ca-item {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .ca-item-details {
    padding: 10px 0;
  }

  .ca-remove-btn {
    padding: 8px 15px;
    font-size: 0.9rem;
  }

  .ca-clear-cart-btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .ca-clear-cart-btn {
    width: 100%;
  }
}
