
  
  .lp-login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primarybackground);
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding-top: 130px;
    padding-bottom: 40px;
  }
  
  .lp-title {
    color: var(--primarycolor);
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-align: center;
  }
  
  .lp-form-container {
    background-color: var(--secondarybackground);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
  
  .lp-input {
    width: 80%;
    padding: 12px;
    border: 1px solid var(--grey);
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .lp-input:focus {
    outline: none;
    border-color: var(--primarycolor);
    box-shadow: 0 0 0 2px rgba(99, 76, 159, 0.2);
  }
  
  .lp-button {
    width: 40%;
    padding: 12px;
    background-color: var(--primarycolor);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .lp-button:hover {
    background-color: rgb(79, 56, 139);
  }
  
  .lp-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  .lp-signup-link {
    margin-top: 20px;
    text-align: center;
    color: var(--darktext);
  }
  
  .lp-signup-link a {
    color: var(--primarycolor);
    text-decoration: none;
    font-weight: 600;
  }
  
  .lp-signup-link a:hover {
    text-decoration: underline;
  }

  .lp-login-page #login-p{
    padding-top: 10px;
    color: var(--darktext);
  }

  .lp-login-page #login-p link{
    text-decoration: none;
  }
  
  /* Responsive Adjustments */
  @media screen and (max-width: 600px) {
    .lp-title {
      font-size: 2rem;
    }
  
    .lp-form-container {
      padding: 25px;
      width: 95%;
      max-width: 100%;
    }
  
    .lp-input,
    .lp-button {
      padding: 10px;
      font-size: 0.9rem;
    }

    .login-p{
      padding-top: 10px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .lp-title {
      font-size: 1.8rem;
    }
  
    .lp-form-container {
      padding: 20px;
    }

    .login-p{
      margin-top: 10px;
    }
  }