
  
  .shop-container {
    display: flex;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    padding: 20px 60px;
    background-color: var(--primarybackground);
    margin-top: -8px;
    padding-top: 130px;
  }
  
  /* Left Filters */
  .d-shop-left {
    width: 25%;
    padding: 20px;
    background-color: var(--secondarybackground);
  }
  
  .filter-section h3 {
    color: var(--primarycolor);
    margin-bottom: 10px;
  }
  
  .filter-section ul {
    list-style: none;
    padding: 0;
  }
  
  .filter-section ul li {
    margin: 8px 0;
  }
  
  .filter-section label {
    color: var(--darktext);
    font-size: 14px;
    cursor: pointer;
  }

  .m-d-shop-left {
    width: 25%;
    padding: 20px;
    background-color: var(--secondarybackground);
  }
  
  .m-filter-section h3 {
    color: var(--primarycolor);
    margin-bottom: 10px;
  }
  
  .m-filter-section ul {
    list-style: none;
    padding: 0;
  }
  
  .m-filter-section ul li {
    margin: 8px 0;
  }
  
  .m-filter-section label {
    color: var(--darktext);
    font-size: 14px;
    cursor: pointer;
  }
  
  
  /* Right Products */
  .d-shop-right {
    width: 75%;
    padding: 20px;
    height: calc(100vh - 20px); 
    overflow-y: auto; 
    direction: rtl; 
    box-sizing: border-box;
  }

  .d-shop-right * {
    direction: ltr; 
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  /* popular products */
  .pp-products-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    padding: 10px 60px;
    font-family: "Montserrat", sans-serif;
    /* display: none; */
  }

  .popular-products-container{
    padding-bottom: 60px;
    background-color: var(--primarybackground);
}

  @media (max-width: 768px){
    .pp-products-grid{
        grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 480px){
    .pp-products-grid{
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

    .popular-products-container{
        padding-bottom: 60px;
        background-color: var(--primarybackground);
    }

    .popular-products-container h2{
      padding-left: 10px;
    }
  }

  .popular-products-container h2{
    font-family: 'Montserrat', sans-serif;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 16px;
    color: var(--darktext);
  }
  
  .product-card {
    background-color: var(--secondarybackground);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    height: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
  }
  
  .product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
    transform: translateY(-5px); 
  }

  .product-brand{
    text-align: left;
    font-size: 12px;
    color: var(--darktext);
  }
  
  .product-image {
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }

  .product-price{
    color: var(--purpleorange);
    font-weight: 500;
  }

  .product-card .product-category{
    color: var(--purpleorange);
    font-size: 12px;
  }
  
  .favorite-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--primarycolor);
    cursor: pointer;
    z-index: 10; 
  }

  .s-productcard{
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .favorite-icon {
      top: 12px; 
      right: 12px;
      font-size: 12px; 
    }
  }
  
  .product-category {
    font-size: 12px;
    color: var(--primarycolor);
    text-align: left;
  }
  
  .product-name {
    margin: 10px 0;
    font-size: 16px;
    color: var(--darktext);
    text-align: left;
  }
  
  .product-details1 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
  }
  
  .add-to-cart-btn {
    background-color: var(--primarycolor);
    color: var(--whitewhite);
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  


  /* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-btn {
    background-color: var(--whitewhite);
    border: 1px solid var(--primarycolor);
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .page-btn.active {
    background-color: var(--primarycolor);
    color: var(--darktext);
  }
  
  .product-link {
    text-decoration: none;
    color: inherit; 
  }
  
  .product-image-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .eye-icon {
    position: absolute;
    top: 125px; 
    right: -10px; 
    padding: 10px;
    border-radius: 50%;
    color: var(--primarycolor);
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .product-image {
    width: 170px;
    height: 150px;
    transition: transform 0.3s ease;
  }
  
  .product-image-wrapper:hover .product-image {
    transform: scale(1.1);
  }
  
  
/* budget planning */

.add-to-cart-btn {
  /* Normal button styling */
  background-color: var(--primarycolor);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn.exceed-budget {
  background-color: red;
  cursor: not-allowed;
}

.budget-input {
  padding-bottom: 10px;
}

.budget-input p{
  color: var(--darktext);
}

.budget-input input {
  border: none;
  outline: none;
  padding: 7px 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 40%;
  border: 1px solid var(--primarycolor);
  margin-bottom: 8px;
}

.budget-input h3 {
  font-size: 18px;
}


  .m-shop-left{
    display: none;
  }
  


  @media (max-width: 480px) {
    .shop-container {
      padding: 0; 
      flex-direction: column; 
      overflow: hidden; 
    }
  
    .d-shop-left {
      width: 100%; 
      padding: 10px; 
      display: none;
    }
  
    .d-shop-right {
      width: 100%; 
      height: auto; 
      overflow-y: auto; 
      flex-grow: 1; 
    }
  
    .products-grid {
      display: grid; 
      grid-template-columns: repeat(2, 1fr);
      gap: 8px; 
    }
  
    .product-card {
      padding: 8px; 
      height: auto; 
      box-sizing: border-box; 
    }
  
    .product-image {
      width: 100px; 
      height: 90px; 
    }
  
    .product-category {
      font-size: 10px; 
    }
  
    .product-name {
      font-size: 12px; 
    }
  
    .product-details1 {
      font-size: 12px; 
      padding-top: 8px; 
    }
  
    .add-to-cart-btn {
      padding: 6px 10px; 
      border-radius: 3px; 
    }
  
    .budget-input {
      padding-bottom: 10px; 
    }
  
    .budget-input input {
      width: 80%; 
    }

    .m-filter-content{
      display: flex;
      flex-direction: row;
    }

    /* budget input */
    .m-shop-left{
      padding: 15px 10px;
    }


    .m-budget-input input{
      padding: 3px 8px;
      font-size: 14px;
      border-radius: 3px;
      width: 40%;
    }

    .m-budget-input h3{
      font-size: 14px;
    }

    .m-filter2, .filter3{
      flex: 1;
    }

    .m-filter2, .filter3 h3{
      font-size: 14px;
    }

    .filter{
      flex: 2;
    }

    .m-shop-left{
      display: block;
    }


    /* filter */
    .filter-header{
      display: flex;
      gap: 3px;
      flex: 3;
    }

    .m-filter-head-div{
      display: flex;
      justify-content: space-between;
    }

    .m-budget-input{
      display: flex;
      justify-content: right;
      align-items: right;
      flex-direction: column;
      padding-left: 150px;
    }

    .filter-header h3{
      color: var(--darktext);
    }

    .filter-icon{
      color: var(--darktext);
    }

    .m-budget-input label{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: var(--darktext);
    }

    .eye-icon {
      position: absolute;
      top: 65px; 
      right: -10px; 
      padding: 10px;
      border-radius: 50%;
      color: var(--primarycolor);
      cursor: pointer;
      transition: opacity 0.3s ease;
      font-size: 12px;
    }

    .faheart{
      font-size: 12px;
    }

    .favorite-icon{
      top: 7px;
      right: 10px;
      font-size: 12px;
    }

    .popular-products-container h2{
      padding-left: 5px;
      padding-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .d-shop-left .filter-section .budget-input p{
      color: var(--darktext);
    }

    .budget-p{
      color: var(--darktext);
    }

    .m-budget-input p{
      color: var(--darktext);
      padding-top: 5px;
      font-size: 14px;
      display: flex;
      align-items: flex-end;
      
    }

    .m-filter-content{
      padding: 0px 20px;
      padding-top: 4px;
    }

  }


