@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  /* --green: rgb(9, 252, 9); */
  --white: rgb(241, 240, 240);
 
  --orange: rgb(255, 172, 5);
  
  /* --purple: rgb(99,76,159);
  --body: white;
  --gighzred: rgb(218,36,66); */

  --primarycolor: rgb(99,76,159);
  --primarybackground: white;
  --secondarybackground: rgb(241, 240, 240);
  --navbar1: rgb(99,76,159);
  --navbar2: rgb(241, 240, 240);
  --blackwhite: black;
  --icons: rgb(60, 60, 60);
  --darktext: rgba(0, 0, 0, 0.745);
  --purplewhite: rgb(99,76,159);
   --grey: rgb(92, 91, 91);
   --whitewhite: rgb(241, 240, 240);
}


[data-theme="dark"]{
  --white: rgb(63, 63, 63);
  --grey: rgb(255, 255, 255);
  --orange: rgb(255, 172, 5);
  
  /* --purple: rgb(99,76,159);
  --body: black; */

  /* --primarycolor: rgb(99,76,159); */
  --primarycolor: rgb(69, 45, 132);
  --primarybackground: rgba(11, 16, 28, 1);
  --secondarybackground: rgba(27, 32, 42, 1);
  --navbar1: rgba(11, 16, 28, 1);
  --navbar2: rgba(27, 32, 42, 1);
  --blackwhite: white;
  --icons: rgba(255, 255, 255, 0.745);
  --darktext: rgba(255, 255, 255, 0.745);
  --purplewhite: rgba(255, 255, 255, 0.745);
  --grey: rgb(63, 63, 63);

}


*{
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}


html{
  scroll-behavior: smooth;
}
